<div class="container-fluid bg-1 text-center profile-content">
  <h2><i class="glyphicon glyphicon-user"></i></h2>
  <h3> Login </h3>
</div>

<%= form_for(:session) do |form| %>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label "Password" %>
      <%= form.password_field :password, id: :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.submit class: 'btn btn-default profile-button' %>
    </div>
<% end %>
