<div class="jumbotron">
  <div class="container text-center">
    <h1>StaticPages#home</h1>
    <p>Find me in app/views/static_pages/home.html.erb</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"> <%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(real_estates_path) %>"> <%= link_to "Realestate", real_estates_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li class="<%= 'active' if current_page?(current_user) %>">
              <%= link_to "<span class='glyphicon glyphicon-user'></span> Your Account".html_safe, current_user %>
            </li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
            <li class="<%= 'active' if current_page?(login_path) %>"><%= link_to "Log in", login_path %></li>
            <li class="<%= 'active' if current_page?(signup_path) %>"><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
