<%= form_with(model: real_estate, local: true) do |form| %>
    <% if real_estate.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <%= pluralize(real_estate.errors.count, "error") %> prohibited this real_estate from being saved:


            <ul>
              <% real_estate.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, id: :real_estate_description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :price %>
      <%= form.text_field :price, id: :real_estate_price, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :lat %>
      <%= form.text_field :lat, id: :real_estate_lat, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :lon %>
      <%= form.text_field :lon, id: :real_estate_lon, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-default profile-button' %>
    </div>
<% end %>

