<%= form_with(model: real_estate, local: true) do |form| %>
    <% if real_estate.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <%= pluralize(real_estate.errors.count, "error") %> prohibited this real_estate from being saved:

            <ul>
              <% real_estate.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div style='width: 100%;'>
      <div id="map" style='width: 100%; height: 400px;'></div>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, id: :real_estate_description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :price %>
      <%= form.text_field :price, id: :real_estate_price, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :lat %>
      <%= form.text_field :lat, id: :real_estate_lat, class: 'form-control', :placeholder => "Click on the map to select" %>
    </div>

    <div class="form-group">
      <%= form.label :lon %>
      <%= form.text_field :lon, id: :real_estate_lon, class: 'form-control', :placeholder => "Click on the map to select" %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-default profile-button' %>
    </div>
<% end %>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({
            provider: {
                disableDefaultUI: true
                // pass in other Google Maps API options here
            },
            internal: {
                id: 'map'
            }
        },
        function () {
            <% if !@real_estate.lat.nil? %>
            markers = handler.addMarkers([
                {
                    "lat": <%=raw @real_estate.lat %>,
                    "lng": <%=raw @real_estate.lon %>
                }
            ]);
            handler.bounds.extendWith(markers);
            <% else %>
            markers = [];
            handler.map.centerOn({lat: <%=raw @city.first %>, lng: <%=raw @city.last %>});
            <% end %>

            handler.fitMapToBounds();
            handler.getMap().setZoom(17);
        }
    );

    google.maps.event.addListener(handler.getMap(), 'click', function (event) {
        document.getElementById("real_estate_lat").value = event.latLng.lat();
        document.getElementById("real_estate_lon").value = event.latLng.lng();
        if (markers[0])
            handler.removeMarker(markers[0]);
        markers = handler.addMarkers([
            {
                "lat": event.latLng.lat(),
                "lng": event.latLng.lng()
            }
        ]);
    });

</script>