<p id="notice"><%= notice %></p>

<h1>Real Estates</h1>

<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @real_estates.each do |real_estate| %>
      <tr>
        <td><%= real_estate.description %></td>
        <td><%= real_estate.price %></td>
        <td><%= real_estate.lat %></td>
        <td><%= real_estate.lon %></td>
        <td><%= real_estate.user.username %></td>
        <td><%= link_to 'Show', real_estate %></td>
        <% if (real_estate.user == current_user) %>
            <td><%= link_to 'Edit', edit_real_estate_path(real_estate) %></td>
            <td><%= link_to 'Destroy', real_estate, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Real Estate', new_real_estate_path %>
