<div class="container-fluid bg-1 text-center profile-content">
  <h2><i class="glyphicon glyphicon-home"></i></h2>
  <h3>
    <%= @real_estate.description %></h3>
  <h3>
    <strong>Price:</strong>
    <%= @real_estate.price %></h3>
  <h5>
    <strong>Added by:</strong>
    <%= link_to "#{@real_estate.user.username}", user_path(@real_estate.user) %>
    , <%= time_ago_in_words(@real_estate.created_at) %> ago
  </h5>

  <h4 class="profile-link" id="realestate-links">
    <% if @real_estate.user == current_user %>
        <%= link_to '<i class="glyphicon glyphicon-wrench"></i> Edit'.html_safe, edit_real_estate_path(@real_estate) %>
        <%= link_to '<i class="glyphicon glyphicon-remove"></i> Delete'.html_safe, real_estate_path(@real_estate), method: :delete%>
    <% elsif !@real_estate.liked?(current_user) %>
        <%= link_to '<i class="glyphicon glyphicon-heart"></i> Like'.html_safe, like_create_url(:real_estate => @real_estate.id), method: :post, remote: true %>
    <% end %>
  </h4>
</div>

<br/>

<div class="container-fluid bg-1 text-center profile-content">
  <h2><i class="glyphicon glyphicon-camera"></i></h2>
  <h3>Images</h3>
  <h4 class="profile-link">
    <% if @real_estate.user == current_user %>
        <%= link_to '<i class="glyphicon glyphicon-plus"></i> Add'.html_safe, new_real_estate_album_path(@real_estate) %>
    <% end %>
  </h4>
  <div class="col-md-8" id="realestate-gallery">
    <%= render 'gallery' %>
  </div>
</div>

<div class="container-fluid bg-1 text-center profile-content">
  <h2><i class="glyphicon glyphicon-globe"></i></h2>
  <h3>Map</h3>
  <div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
</div>


<br/>

<% if @real_estate.likes.any? %>
    <div class="container-fluid bg-1 text-center profile-content">
      <h2><i class="glyphicon glyphicon-heart"></i></h2>
      <h3>Liked by:</h3>
      <% @real_estate.likes.each do |like| %>
          <h5>
            <%= link_to "#{like.user.username}", user_path(like.user) %>
            , <%= time_ago_in_words(like.created_at) %> ago
          </h5>
      <% end %>
    </div>
<% end %>

</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({
            provider: {
                disableDefaultUI: true,
                // pass in other Google Maps API options here
            },
            internal: {
                id: 'map'
            }
        },
        function () {
            markers = handler.addMarkers([
                {
                    "lat": <%=raw @real_estate.lat %>,
                    "lng": <%=raw @real_estate.lon %>
                }
            ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(17);
        }
    );
</script>